<!doctype html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>MerchisInn</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-5.3.2-dist/css/bootstrap.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}"/>
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-dark custom-background-dark-red">
		<ul class="navbar-nav">
			<a class="navbar-brand" href="/"><strong>MerchisInn</strong></a>
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>

		</ul>
	</nav>
	<h1>Base template</h1>

	{% block content %} {% endblock %}
</body>

</html>
