{% extends "base.html" %}
{% block content %}
<h1>Book your stay:</h1>
<form action="" method="post" name="form">
	<div class ="form-group">
		<label for="room">Room selection:</label>
		<select name="room" id="room">
			<option value="king">King Room (1 double bed)</option>
			<option value="kingsingle">King and Single Room (1 double bed and 1 single bed)</option>
			<option value="family">Family Room (1 double bed and 2 singles)</option>
			<option value="accessible">Accessible Room (Family room with accessibility)</option>
		</select>
	</div>
	<div class="form-group">
		<label for="checkin">Check in:</label>
		<input type="date" class="form-control" id="checkin" name="checkin">
	</div>
	<div class="form-group">
                <label for="checkout">Check out:</label>
                <input type="date" class="form-control" id="checkout" name="checkout">
        </div>
	<div class="form-group">
                <label for="guests">Guests:</label>
                <input type="number" class="form-control" id="guests" name="guests">
        </div>
	<div class="form-group">
                <label for="accessible">Number of guests requiring accessible room:</label>
                <input type="number" value="0" class="form-control" id="accessible" name="accessible">
        </div>
	<input type="submit" name="submit" id="submit"/>

</form>
{% endblock %}
