{% extends "base.html" %}
{% block content %}
<h1>Welcome to the MerchisInn</h1>
<p>We are a small hotel situated in the historic Merchiston area of Edinburgh. With many quick transport options into Prince's street, and plenty of fun things to do within walking distance, we hope you have a perfect stay in our hotel. Select an option below to begin planning your stay!</p>
<center>
<a href="/about" class="btn btn-danger btn-lg" tabindex="-1" role="button" >About Us</a>
<a href="/book" class="btn btn-danger btn-lg" tabindex="-1" role="button" >Book Now</a>
</center>
{% endblock %}
